<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
  </head>
  <body>
    <h1>Hello Vue</h1>

    <!-- At the moment, Vue is only controlling what is inside
    the div id="app", anyvariable/data outside these tags 
    will not be rendered by Vue -->
    <div id="app">
      <!-- <h2>I am the template</h2> -->
      <!-- <p>The final empire</p> *harcoded -->

      <!-- the below is how we output dynamic variables, in Vue -->
      <!-- we conditionally render the div below, by using v-if="" -->
      <div v-if="showBooks">
        <p>{{title}} - {{author}} - {{age}}</p>
      </div>

      <!-- how we would add a click event listener to a button 
        with Vue -->
      <!-- we use the variables name and ++to increase the variable
        by 1 and the opposite to decrease the value by 1  -->
      <button v-on:click="age++">Increase age</button>
      <button v-on:click="age--">Decrease age</button>

      <!-- using a button to conditionally render -->
      <button><span>Hide Books</span></button>

      <!-- example of an event listener in a div with @ shortcut -->
      <!-- <div @click="title = 'something else'">Change book title</div> -->
      <div @click="changeTitle">Change book title</div>

      <!-- an example with arguments -->
      <div @click="changeTitle('Oathbringer')">Change book title</div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
