<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <style>
      .box {
        padding: 100px 0;
        width: 400px;
        text-align: center;
        background: #ddd;
        margin: 20px;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <h1>Hello Vue</h1>
    <h2>Net Ninja Basics 1</h2>

    <!-- At the moment, Vue is only controlling what is inside
    the div id="app", any variable/data outside these tags 
    will not be rendered by Vue -->
    <div id="app">
      <!-- <h2>I am the template</h2> -->
      <!-- <p>The final empire</p> *harcoded -->

      <!-- the below is how we output dynamic variables, in Vue -->
      <!-- we conditionally render the div below, by using v-if="" -->
      <!-- <div v-if="showBooks">
        <p>{{title}} - {{author}} - {{age}}</p>
      </div> -->

      <!-- how we would add a click event listener to a button 
        with Vue -->
      <!-- we use the variables name and ++to increase the variable
        by 1 and the opposite to decrease the value by 1  -->
      <button v-on:click="age++">Increase age</button>
      <button v-on:click="age--">Decrease age</button>

      <!-- using a button to conditionally render -->
      <!-- <button @click="toggleShowBooks"><span>Hide Books</span></button> -->

      <!-- using a button to conditionally render and 2 spans -->
      <!-- <button @click="toggleShowBooks">
        <span v-if="showBooks">Hide Books</span>
        <span v-if="!showBooks">Show Books</span>
      </button> -->

      <!-- using a button to conditionally render and 2 spans
      , while using an if else statement -->
      <button @click="toggleShowBooks">
        <span v-if="showBooks">Hide Books</span>
        <span v-else>Show Books</span>
      </button>

      <!-- example of an event listener in a div with @ shortcut -->
      <!-- <div @click="title = 'something else'">Change book title</div> -->
      <!-- <div @click="changeTitle">Change book title</div> -->

      <!-- an example with arguments -->
      <!-- <div @click="changeTitle('Oathbringer')">Change book title</div> -->

      <br />
      <h2>Net Ninja Basics 2</h2>
      <!-- mouse events -->
      <div class="box" @mouseover="handleEvent($event, 5)">
        mouseover (enter)
      </div>
      <div class="box" @mouseleave="handleEvent">mouseleave</div>
      <div class="box" @dblclick="handleEvent">double click</div>
      <div class="box" @mousemove="handleMousemove">position - {{x}},{{y}}</div>

      <!-- outputting lists -->
      <div v-if="showBooks">
        <ul>
          <li v-for="book in books">
            <h3>{{book.title}}</h3>
            <p>{{book.author}}</p>
          </li>
        </ul>
      </div>

      <!-- data/attribute binding -->
      <!-- v-bind makes whatever is inside the '=' dynamic -->
      <!-- <a v-bind:href="url">best website ever</a> -->
      <!-- a shortcut for v:bind -->
      <a :href="url">best website ever</a>
      <div v-if="showBooks">
        <ul>
          <li v-for="book in books">
            <img :src="book.img" :alt="book.title" />
            <h3>{{book.title}}</h3>
            <p>{{book.author}}</p>
          </li>
        </ul>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
